<%= form_with model: @article do |f|%>
  <div class="form-group">
    <p>タイトル</p>
    <%=f.text_field :title, class: 'form-control', id: 'task_name'%>
  </div>
  <div class="form-group">
    <p>記事</p>
    <%=f.text_field :content, class: 'form-control', id: 'task_name'%>
  </div>
  <div class="form-group">
    <p>タグ</p>
    <%=f.text_field :tag_list, value: @article.tag_list.join(','), class: "form-control"%>
  </div>
  <%= f.submit%>
<%end%>
<script>
  jQuery(document).ready(function(){

    $("#article_tag_list").tagit({
      tagLimit:10,
      singleField: true
    });
    let tag_count = 10 - $(".tagit-choice").length    // 登録済みのタグを数える
    $(".ui-widget-content.ui-autocomplete-input").attr(
      'placeholder','あと' + tag_count + '個登録できます');
    
    $('.ui-helper-hidden-accessible').css('display', 'none');
  });

  $(document).on("keyup", '.tagit', function() {
    let input = $(".ui-widget-content.ui-autocomplete-input").val();  // 変数inputに、入力値を格納
    $.ajax({
      type: 'GET',
      url: 'get_tag_search',    // ルーティングで設定したurl
      data: { key: input },     // 入力値を:keyとして、コントローラーに渡す
      dataType: 'json'
    })

    .done(function(data){
      if(input.length) {               // 入力値がある時のみ 
        let tag_list = [];             // 空の配列を準備
        data.forEach(function(tag) {   // 取得したdataのnameを配列に格納
          tag_list.push(tag.name);
          console.log(tag_list); // 1つずつ追加。 tag_list = ["タグ名1", "タグ名2", ..]
        });
        $("#article_tag_list").tagit({
          availableTags: tag_list
          
        });
      }
    })
    let tag_count = 10 - $(".tagit-choice").length    // ↑ と同じなので、まとめた方がいい。
    $(".ui-widget-content.ui-autocomplete-input").attr(
    'placeholder','あと' + tag_count + '個登録できます');
    $('.ui-helper-hidden-accessible').css('display', 'none');
  });

  $(document).on("click", '.tagit', function() {
    let tag_count = 10 - $(".tagit-choice").length    // ↑ と同じなので、まとめた方がいい。
    $(".ui-widget-content.ui-autocomplete-input").attr(
    'placeholder','あと' + tag_count + '個登録できます');
  });

</script>