
<%= @student.last_name%><%=@student.first_name%><br>
<%= @student.last_name_kana%><%=@student.first_name_kana%><br>
<%= @student.address%><br>
<% if @student == current_student%>
  <div id="map"></div>
<%end%>

<p>ストップウォッチ</p>


<style>
    #map {
      height: 500px;
      width: 70%;
    }
</style>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAH59KUk3PQs_ESy7IhW_thtfUQJWUlyQ4&callback=initMap" async defer></script>
<%= javascript_pack_tag "map" %>
