
<%= @student.last_name%><%=@student.first_name%><br>
<%= @student.last_name_kana%><%=@student.first_name_kana%><br>
<%= @student.address%><br>
<% if @student == current_student%>
  <div id="map"></div>
<%end%>
<style>
    #map {
      height: 500px;
      width: 70%;
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['API_KEY']%>&callback=initMap" async defer></script>
<%= javascript_pack_tag "map" %>
