<div class="row">
  <div class="col-12 d-flex align-items-center justify-content-center mt-5 mb-5">
    <h3 class="fs-4">学習時間</h3>
    <p style="font-size: 50px;">
      <% if @study.hour!= 0%>
          <%= @study.hour%>時間
      <% else %>
          &ensp;&emsp;&emsp;
      <%end%>

      <%if @study.min(@study.hour) >=10%>
      <%= @study.min(@study.hour)%>
      <% else %>
      &ensp;<%= @study.min(@study.hour)%>    
      <%end%>

      分
      <%if @study.sec(@study.min(@study.hour),@study.hour) >=10%>
      <%= @study.sec(@study.min(@study.hour),@study.hour)%>
      <% else %>
      &ensp;<%= @study.sec(@study.min(@study.hour),@study.hour)%>
      <%end%>
      秒
    </p>
  </div>
</div>
<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <%= form_with model: @study,url: learnings_path ,  local: true do |f|%>
      <div class="form-group">
        <%= f.label :language_id,"学習した言語",class:"form-label" %>
        <%= f.select :language_id, options_from_collection_for_select(Language.all, :id, :name), {}, class: "form-select" %>
      </div>
      <div class="form-group">
        <%= f.label :title,"学習内容",class:"form-label"%>
        <%= f.text_field :title ,class:"form-control"%>
      </div>
      <%= f.hidden_field :study_time ,value: @study.study_time%>
      <div class="form-group d-flex align-items-center justify-content-center mt-5 mb-5">
        <%= f.submit("記録する", class:"btn btn-primary") %>
      </div>
    <%end%>
  </div>
  <div class="col-4"></div>
</div>