<!DOCTYPE html>
<html>
  <head>
    <title>ProSta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application' %>
    <script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <header>
      <a class="logo" href="/">StuPro</a>
        <ul class="navList">
          <% if student_signed_in? %>
            <li><%= link_to "マイページ",mypage_student_path(current_student) %></li>
            <li><%= link_to "新規投稿",new_article_path %></li>
            <li><%= link_to "投稿一覧",articles_path %></li>
            <li><%= link_to "学習記録",new_learning_path%>
            <li><%= link_to "ログアウト",destroy_student_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "ログイン",new_student_session_path %></li>
            <li><%= link_to "新規登録",new_student_registration_path %></li>
            <li><%= link_to "ログアウト",destroy_student_session_path, method: :delete %></li>
            <li><a href="#abc">テスト4</a></li>
          <% end %>
        </ul>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
